*
!.gitignore
!Makefile
!Makefile.git
!submit.sh

!/src/
!/src/main/

!/src/main/java/
/src/main/java/**
!/src/main/java/**/
!/src/main/java/**/*.java

!/src/main/antlr/
/src/main/antlr/**
!/src/main/antlr/**/
!/src/main/antlr/**/*.g4